body {
    background:url('img/dinpattern-stripe.gif');
}

#enter {
	margin-left: 45%;
    margin-top: 20%;
}

#enter:active {
    margin-top: 21%;
}

#status {
	margin-left:10%;
	font-size: 12pt;
	color: #666666;
}

#register #status {
	font-size: 14pt;
	color: #666666;
}

#login_form {
	margin-left: 18%;
	margin-top: 12%;
}

#register_form {
	margin-left: 18%;
	margin-top: 10%;
}

#login {
    display: none;
    width: 250px; 
    height: 150px; 
    float: left; 
    background-color: #aaa; 
    position:relative; 
    margin-left: 40%;
    margin-top: 250px;
    border: 1px solid #aaa;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0 0 10px #aaa;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #aaa;
}

#login input {
	height: 20px;
	width: 160px;
	border-radius:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-style:italic;
    font-size:12pt;
}

#login .css3button {
	font-style:normal;
	height: 30px;
	width: 80px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #c7c1c7;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:5px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.css3button:hover {
	background-color:#bdbbbd;
}.css3button:active {
	position:relative;
	top:1px;
}

#register {
    width: 640px; 
    height: 400px; 
    float: left; 
    background-color: #D8D8D8; 
    position:relative; 
    margin-left: 25%;
    margin-top: 10%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#register input {
	height: 40px;
	width: 400px;
	border-radius:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-style:italic;
    font-size:14pt;
	
}

a {
    color: black;
    font-size: 10pt;
}

#register .css3button {
	font-style:normal;
	height: 50px;
	width: 200px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #c7c1c7;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:5px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	margin-left: 20%;
}.css3button:hover {
	background-color:#bdbbbd;
}.css3button:active {
	position:relative;
	top:1px;
}